// https://colorhunt.co/palette/361
$color-1: #d0694e;
$color-2: #f6ce8c;
$color-3: #c3e3e5;
$color-4: #589bad;

$text-primary: rgb(34, 187, 255);
$text-secondary: rgb(255, 255, 255);

$mdc-theme-primary: rgba(0, 0, 0, 0.9);
$mdc-theme-secondary: rgba(137, 137, 137, 0.9);
$mdc-theme-background: rgba(0, 0, 0, 0.9);
$mdc-theme-surface: #fff;
$mdc-typography-font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial,
  "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",
  SimHei, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "WenQuanYi Zen Hei Sharp",
  sans-serif;

// 该函数随机返回一张图片，目前仅作为body的背景图片
@function img-url() {
  $url: 'https://ak.hypergryph.com/assets/index/images/ak/sp/bk.jpg', 'https://ak.hypergryph.com/assets/index/images/ak/sp/bk-news.jpg';
  $img: nth($url, random(length($url)));
  @return url($img)
}

$highlight-background: #e8eaf7;
button {
  margin: 0.25em;
  white-space: nowrap;
}
a {
  text-decoration: none;
  color: $text-primary;
}
