@import "../styles/custom.scss";

.options-box {
  padding: 0.5em 1em;
}
.padding-025 {
  padding: 0.25em;
}
h2 {
  color: $color-primary;
}

h4 {
  color: $color-info;
  margin: 0.25em 0;
}
section {
  max-height: 60vh;
  height: 60vh;
  
  li {
    color: $color-muted;
  }
}
a,
p {
  text-decoration: none;
  color: $color-primary;
}
.mdc-list-item {
  height: fit-content;
  padding: 0.25em 0;
}
#btnReset,
#btnOnlyResetNeed {
  background-color: $color-1;
}
.sepatator {
  height: 0.5em;
  width: 10em;
}

[mdcTextField] {
  textarea {
    color: $color-muted;
    background-color: rgba($color-dark, 0.1);
    resize: none;
    border-color: $color-primary;
  }
}

[mdcButton] {
  color: $color-white;
  background-color: $color-dark;
  &:hover {
    color: $color-black;
    background-color: $color-primary;
  }
}

.mdc-text-field__input {
  padding: 0.25em 0.75em;
}

.dialog-data {
  max-width: 600px;
  max-height: 500px;
}
