@import "../styles/custom.scss";
[mdcDialog] {
  color: var(--mdc-theme-text-primary-on-background);

  .mdc-dialog__body,
  a {
    color: var(--mdc-theme-text-secondary-on-background);
  }

  [mdcButton] {
    &:hover {
      color: var(--mdc-theme-on-primary);
      background-color: var(--mdc-theme-primary);
    }
  }
  [mdcDialogCancel],
  [mdcDialogAccept] {
    color: var(--mdc-theme-on-surface);
  }
}
.options-box {
  padding: 0.5em 1em;
}
.padding-025 {
  padding: 0.25em;
}

h4 {
  margin: 0.25em 0;
}
section {
  max-height: 60vh;
  height: 60vh;
  
}
.mdc-list-item {
  height: fit-content;
  padding: 0.25em 0;
}
#btnReset,
#btnResetNeed {
  background-color: $color-1;
}
.sepatator {
  height: 0.5em;
  width: 10em;
}

[mdcTextField] {
  textarea {
    color: $color-muted;
    background-color: rgba($color-dark, 0.1);
    resize: none;
    // border-color: $color-primary;
  }
}
[mdcListDivider] {
  list-style: none;
}
.mdc-text-field__input {
  padding: 0.25em 0.75em;
  font-size: small;
}

.dialog-data {
  max-width: 600px;
  max-height: 600px;
}
.hint {
  line-height: 0.5em;
}