@import "../styles/custom.scss";

.main-container {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  background: none;
  color: var(--mdc-theme-text-primary-on-background);
}

a {
  color: var(--mdc-theme-on-surface);
}

.img-logos {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}


h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

.contributor a {
  padding: 0.5em;
  text-align: center;
}

.contributor img {
  border-radius: 50%;
  max-height: 64px;
  max-width: 64px;
  height: auto;
  width: auto;
}
.joinus img {
  max-height: 64px;
  max-width: 64px;
  height: auto;
  width: auto;
}
.notice{
  font-weight: bold;
}
.img-title{
  width: 128px;
  height: 128px;
  margin-right: 1em;
}