<div class="ad-containr" fxLayout="column">

    <div mdcCard class="card-title" fxLayout="row wrap" fxLayoutAlign="center center">
        <button mdcButton raised dense type="button" (click)="dialogImport.open()">
            导入
        </button>
        <button mdcButton raised dense type="button" (click)="fileInput.click();">
            选择仓库图片
        </button>
        <button mdcButton raised dense type="button" (click)="dialogExport.open()">
            导出
        </button>
        <input #fileInput type="file" id="test-image-file" name="test"
            accept="image/gif, image/jpeg, image/png, image/jpg" (change)="choiceImage($event)"
            style="display:none;"><br>
    </div>
    <canvas (click)="ChoiceItem($event,dialog)" style="margin:0 auto;">浏览器不支持Canvas 建议您换用最新版的Chrome/Firefox浏览器</canvas>
    <aside #dialog="mdcDialog" mdcDialog mdcFocusTrap>
        <div mdcDialogSurface>
            <header mdcDialogHeader>
                <h2 mdcDialogHeaderTitle>修改数据</h2>
            </header>
            <section mdcDialogBody>
                <div id="headImage" style="text-align: center;">
                    <img [src]="ItemImage||''" style="margin: 0 auto;" width="100" />
                </div>
                <div id="DataChange" style="text-align: center;">
                    <ng-container *ngIf="ModifyingItem!==null">
                        <div mdcSelect style="width:80%;">
                            <select mdcSelectControl [(ngModel)]="ModifyBuffer.id" [disabled]='ModifyBuffer.delete'>
                                <option *ngFor="let item of ModifyingItem.item; let i=index" [value]="item.id"
                                    ng-selected="i === 0">
                                    {{ItemNames[item.id]}}</option>
                            </select>
                            <label mdcFloatingLabel></label>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="ModifyingItem!==null">
                    <div>
                        源hash:<span
                            [ngStyle]="{'color': RecordItemHash[ModifyBuffer.id].hash[i]!=OriginHash[i]&&RecordItemHash[ModifyBuffer.id].hash[i]!=2 ? 'red' : 'green'}"
                            style="font-family: Courier;"
                            *ngFor="let item of RecordItemHash[ModifyBuffer.id].hash.slice(0,72); let i=index">{{item}}</span>
                    </div>
                    <div>
                        现hash:<span
                            [ngStyle]="{'color': RecordItemHash[ModifyBuffer.id].hash[i]!=OriginHash[i]&&RecordItemHash[ModifyBuffer.id].hash[i]!=2 ? 'red' : 'green'}"
                            style="font-family: Courier;"
                            *ngFor="let item of OriginHash.slice(0,72); let i=index">{{item}}</span>
                    </div>
                </div>
            </section>
            <footer mdcDialogFooter>
                <button mdcButton mdcDialogCancel>取消</button>
                <button mdcButton mdcDialogAccept (click)="Merge()">取均值合并</button>
                <button mdcButton mdcDialogAccept (click)="Replace()">替换源Hash</button>
            </footer>
        </div>
        <div mdcDialogBackdrop></div>
    </aside>
    <aside #dialogExport="mdcDialog" mdcDialog mdcFocusTrap>
        <div mdcDialogSurface>
            <header mdcDialogHeader>
                <h2 mdcDialogHeaderTitle>导出数据</h2>
            </header>
            <section mdcDialogBody>
                <div mdcTextField style="width:100%;height:200px;">
                    <textarea #Input1 mdcTextFieldInput [value]="Data()" style="width:100%;height:200px;"></textarea>
                </div>
            </section>
            <footer mdcDialogFooter>
                <button mdcButton mdcDialogCancel>取消</button>
                <button mdcButton mdcDialogAccept (click)="Copy(Input1)">复制</button>
            </footer>
        </div>
        <div mdcDialogBackdrop></div>
    </aside>
    <aside #dialogImport="mdcDialog" mdcDialog mdcFocusTrap>
    <div mdcDialogSurface>
        <header mdcDialogHeader>
            <h2 mdcDialogHeaderTitle>导入数据</h2>
        </header>
        <section mdcDialogBody>
            <div mdcTextField style="width:100%;height:200px;">
                <textarea #Input2 mdcTextFieldInput style="width:100%;height:200px;"></textarea>
            </div>
        </section>
        <footer mdcDialogFooter>
            <button mdcButton mdcDialogCancel>取消</button>
            <button mdcButton mdcDialogAccept (click)="Import()">导入</button>
        </footer>
    </div>
    <div mdcDialogBackdrop></div>
</aside>
</div>