@import "../styles/custom.scss";

img[src=""],
img:not([src]) {
  opacity: 0;
}
input,
select {
  text-align: center;
}
.mdc-button--dense {
  min-width: 20px;
}
.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) {
  margin: 0;
}
.ad-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  .card-title {
    max-width: 100%;
    width: 400;
    padding: 0.25em;
    display: block;
  }
}

[mdcCard] {
  margin: 0.5em;

  .mat-icon {
    max-height: 48px;
    max-width: 48px;
    height: auto;
    width: auto;
  }
  .matcard-item {
    padding: 0.25em;
  }
}

[mdcButton]:not(.mdc-button--raised) {
  color: var(--mdc-theme-on-surface);
  &:hover, &:checked {
    color: var(--mdc-theme-on-primary);
    background-color: var(--mdc-theme-primary);
  }
  &:disabled {
    color: $color-muted;
    background-color: $color-black;
  }
}

// [mdcTextField] {
//   input {
//     color: $color-white;
//   }
// }

[mdcLinearProgress] {
  max-width:1200px;
  margin:0 auto 10px auto;
}
canvas {
  width:100%;
  max-width:  1200px;
}

p, input, select {
  color: $color-muted;
}

.select {
  border:blue 2px solid;
}
.mdc-dialog__surface {
  color: var(--mdc-theme-on-surface);
}

.bitchar {
  font-family: Courier;
  color: green;
  
}
.bitchar.bcred {
  color: red;
}
[mdcTextField] {
  height: 200px;
  width: 100%;
  textarea {
    color: $color-muted;
    background-color: rgba($color-dark, 0.1);
    resize: none;
    width: 100%;
    height: 185px;
    font-size: small;
  }
}
.mdc-text-field__input {
  padding: 0.5em;
}