$mdc-theme-primary   : rgba(0, 0, 0, 0.9);
$mdc-theme-on-primary: rgba(202, 202, 202, 0.9);

$mdc-theme-secondary   : rgb(34, 187, 255);
$mdc-theme-on-secondary: rgb(51, 51, 51, 0.9);
$mdc-theme-background  : #3F3F3F;

$mdc-theme-surface   : rgba(51, 51, 51, 0.9);
$mdc-theme-on-surface: rgba(240, 240, 240);

@import "material-components-web/material-components-web";

:root {
    --hr-gap-background: rgba(49,49,49,.5);
    --hr-comb-background: rgba(49,49,49,.6);
    --hr-selected-background: #2bf;
    --hr-unselected-background: #313131;
    --hr-selected-text: #fff;
    --hr-unselected-text: #fff;
    --hr-tag-border: #313131;
}

body {

  background-attachment: fixed;
  background-color: #3F3F3F;
  // background-image: url(https://ak.hypergryph.com/assets/index/images/ak/pc/bk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
