@import '../styles/custom.scss';

.mdc-button--dense {
    color: $color-muted;
    // background-color: $color-dark;
    min-width: 20px;
    margin: 0;
    padding: 0;
}
.input-field{
    width: 100%;
    margin: 0.25em;
}

input, select {
    // background-color: $color-primary;
    text-align: center;
}


[mdcSelect] {
    [mdcSelectControl] {
        color: $color-primary;
        // background-color: rgba($color-dark, 0.5);
    }
    label {
        color: $color-primary;
        // background-color: $color-black;
    }
}

[mdcTextField] {
    input {
        color: $color-primary;
    }
    label {
        color: $color-primary;
    }
}

[mdcCard] {
    min-width: 280px;
    max-width: 100%;
    width: 350px;
    color: $color-muted;
    background-color: rgba($color-dark, 0.5);

    .custom-card-group-heading {
        color: $color-primary;
        font-size: 0.875em;
        padding: 8px 16px;
        text-align: center;
    }

    th {
        text-align: end;
        width: 100px;
    }
    td {
        text-align: start;
    }
    th, td{
        padding: 0.375em 1em;
    }
}

.btnCalc {
    color: $color-primary;
    margin: 1em 0 0 0;
    width: 50%;
    &:hover, &:focus {
        color: $color-black;
        background-color: $color-primary;
    }
}
[mdcCard] {
    margin: 1em 0 0 0;
}