@import "../styles/custom.scss";

.help-container {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}

p {
  color: $color-muted;
}
img {
  max-width: 300px;
  width: auto;
  height: auto;
}
ul {
  color: $color-muted;
  li {
    vertical-align: center;
    align-content: center;
    align-items: center;
  }
}
